In [1]:
import pandas as pd
file1= r'/Users/caoguangjing/Desktop/catalan.ai/data/ercot_gen_all_15min_2024Q1.csv'
fuel_mix_generation_2024Q1 = pd.read_csv(file1, skiprows=3)
fuel_mix_generation_2024Q1.head()

,UTC Timestamp (Interval Ending),Local Timestamp Central Time (Interval Beginning),Local Timestamp Central Time (Interval Ending),Local Date,Hour Number,Total Generation (MW),Biomass Generation (MW),Coal Generation (MW),Gas Generation (MW),Gas-CC Generation (MW),Hydro Generation (MW),Nuclear Generation (MW),Other Generation (MW),Solar Generation (MW),WSL Generation (MW),Wind Generation (MW)
0,2024-01-01 06:15:00,2024-01-01 00:00:00,2024-01-01 00:15:00,2024-01-01,1,41211.702756,12.864876,5906.758000,951.145152,14179.027380,3.646776,5099.763708,21.084040,0.018832,-220.044964,15257.438956
1,2024-01-01 06:30:00,2024-01-01 00:15:00,2024-01-01 00:30:00,2024-01-01,1,41313.971124,12.876576,5901.623416,966.119808,14525.792168,3.647404,5100.202100,45.304988,0.014288,-186.589944,14944.980320
2,2024-01-01 06:45:00,2024-01-01 00:30:00,2024-01-01 00:45:00,2024-01-01,1,41577.427448,12.872256,5890.927880,988.294512,15048.433240,3.683776,5100.264040,15.019012,0.000448,-82.487100,14600.419384
3,2024-01-01 07:00:00,2024-01-01 00:45:00,2024-01-01 01:00:00,2024-01-01,1,41683.202096,12.865132,5878.587008,1008.868832,15360.304216,3.696692,5100.195448,6.407708,0.000104,-105.095416,14417.372372
4,2024-01-01 07:15:00,2024-01-01 01:00:00,2024-01-01 01:15:00,2024-01-01,2,41666.871584,12.879516,5867.700416,1019.737216,15467.808524,5.016092,5100.818424,36.796904,0.005576,-87.080580,14243.189496

In [2]:
fuel_mix_generation_2024Q1.columns

Index(['UTC Timestamp (Interval Ending)',
       'Local Timestamp Central Time (Interval Beginning)',
       'Local Timestamp Central Time (Interval Ending)', 'Local Date',
       'Hour Number', 'Total Generation (MW)', 'Biomass Generation (MW)',
       'Coal Generation (MW)', 'Gas Generation (MW)', 'Gas-CC Generation (MW)',
       'Hydro Generation (MW)', 'Nuclear Generation (MW)',
       'Other Generation (MW)', 'Solar Generation (MW)', 'WSL Generation (MW)',
       'Wind Generation (MW)'],
      dtype='object')

In [3]:
fuel_mix_generation_2024Q1.shape

(8732, 16)

In [4]:
file2= r'/Users/caoguangjing/Desktop/catalan.ai/data/ercot_lmp_rt_15min_hubs_2024Q1.csv'
locational_marginal_prices_2024Q1 = pd.read_csv(file2, skiprows=3)
locational_marginal_prices_2024Q1.head()

,UTC Timestamp (Interval Ending),Local Timestamp Central Time (Interval Beginning),Local Timestamp Central Time (Interval Ending),Local Date,Hour Number,Bus average LMP,Houston LMP,Hub average LMP,North LMP,Panhandle LMP,South LMP,West LMP
0,2024-01-01 06:15:00,2024-01-01 00:00:00,2024-01-01 00:15:00,2024-01-01,1,12.77,12.58,12.58,13.72,14.19,9.59,14.44
1,2024-01-01 06:30:00,2024-01-01 00:15:00,2024-01-01 00:30:00,2024-01-01,1,13.62,13.35,13.45,14.47,14.93,10.81,15.18
2,2024-01-01 06:45:00,2024-01-01 00:30:00,2024-01-01 00:45:00,2024-01-01,1,14.67,14.47,14.51,15.51,15.93,11.90,16.16
3,2024-01-01 07:00:00,2024-01-01 00:45:00,2024-01-01 01:00:00,2024-01-01,1,15.12,15.12,14.99,15.78,16.05,12.87,16.19
4,2024-01-01 07:15:00,2024-01-01 01:00:00,2024-01-01 01:15:00,2024-01-01,2,15.41,15.66,15.34,15.79,15.84,14.05,15.87

In [5]:
locational_marginal_prices_2024Q1.columns

Index(['UTC Timestamp (Interval Ending)',
       'Local Timestamp Central Time (Interval Beginning)',
       'Local Timestamp Central Time (Interval Ending)', 'Local Date',
       'Hour Number', 'Bus average LMP', 'Houston LMP', 'Hub average LMP',
       'North LMP', 'Panhandle LMP', 'South LMP', 'West LMP'],
      dtype='object')

In [6]:
file3= r'/Users/caoguangjing/Desktop/catalan.ai/data/ercot_gen_sun-wnd_5min_2024Q1.csv'
sunwnd_5min_2024Q1 = pd.read_csv(file3, skiprows=3)
sunwnd_5min_2024Q1.head()

,UTC Timestamp (Interval Ending),Local Timestamp Central Time (Interval Beginning),Local Timestamp Central Time (Interval Ending),Local Date,Hour Number,ERCOT Total Solar Generation (MW),ERCOT Total Wind Generation (MW),North Wind Generation (MW),South Houston Wind Generation (MW),West Wind Generation (MW)
0,2024-01-01 06:05:00,2024-01-01 00:00:00,2024-01-01 00:05:00,2024-01-01,1,0.05,15459.67,1946.13,3699.66,9813.89
1,2024-01-01 06:10:00,2024-01-01 00:05:00,2024-01-01 00:10:00,2024-01-01,1,0.01,15337.67,1950.10,3709.09,9678.48
2,2024-01-01 06:15:00,2024-01-01 00:10:00,2024-01-01 00:15:00,2024-01-01,1,0.06,15211.76,1962.78,3813.85,9435.13
3,2024-01-01 06:20:00,2024-01-01 00:15:00,2024-01-01 00:20:00,2024-01-01,1,0.06,15211.76,1962.78,3813.85,9435.13
4,2024-01-01 06:25:00,2024-01-01 00:20:00,2024-01-01 00:25:00,2024-01-01,1,0.01,14962.98,1973.92,3651.92,9337.14

In [7]:
sunwnd_5min_2024Q1.columns

Index(['UTC Timestamp (Interval Ending)',
       'Local Timestamp Central Time (Interval Beginning)',
       'Local Timestamp Central Time (Interval Ending)', 'Local Date',
       'Hour Number', 'ERCOT Total Solar Generation (MW)',
       'ERCOT Total Wind Generation (MW)', 'North Wind Generation (MW)',
       'South Houston Wind Generation (MW)', 'West Wind Generation (MW)'],
      dtype='object')

In [8]:
file4= r'/Users/caoguangjing/Desktop/catalan.ai/data/ercot_load_act_hr_2024.csv'
hourly_actual_load_2024 = pd.read_csv(file4, skiprows=3)
hourly_actual_load_2024.head()

,UTC Timestamp (Interval Ending),Local Timestamp Central Time (Interval Beginning),Local Timestamp Central Time (Interval Ending),Local Date,Hour Number,TOTAL Actual Load (MW),Coast Actual Load (MW),East Actual Load (MW),Far West Actual Load (MW),North Actual Load (MW),North Central Actual Load (MW),Southern Actual Load (MW),South Central Actual Load (MW),West Actual Load (MW)
0,2024-01-01 07:00:00,2024-01-01 00:00:00,2024-01-01 01:00:00,2024-01-01,1,41367.30,10228.50,1560.09,6377.13,1444.28,11592.98,2939.14,6095.58,1129.61
1,2024-01-01 08:00:00,2024-01-01 01:00:00,2024-01-01 02:00:00,2024-01-01,2,41630.87,10109.71,1651.06,6477.34,1471.55,11818.70,2904.21,6046.83,1151.45
2,2024-01-01 09:00:00,2024-01-01 02:00:00,2024-01-01 03:00:00,2024-01-01,3,41563.17,9966.45,1607.69,6417.21,1495.55,12137.73,2845.38,5942.27,1150.91
3,2024-01-01 10:00:00,2024-01-01 03:00:00,2024-01-01 04:00:00,2024-01-01,4,41539.61,9859.82,1631.72,6487.37,1526.05,12322.72,2761.70,5850.97,1099.27
4,2024-01-01 11:00:00,2024-01-01 04:00:00,2024-01-01 05:00:00,2024-01-01,5,42199.84,9866.17,1714.81,6508.36,1565.07,12824.48,2742.70,5884.10,1094.15

In [9]:
hourly_actual_load_2024.columns

Index(['UTC Timestamp (Interval Ending)',
       'Local Timestamp Central Time (Interval Beginning)',
       'Local Timestamp Central Time (Interval Ending)', 'Local Date',
       'Hour Number', 'TOTAL Actual Load (MW)', 'Coast Actual Load (MW)',
       'East Actual Load (MW)', 'Far West Actual Load (MW)',
       'North Actual Load (MW)', 'North Central Actual Load (MW)',
       'Southern Actual Load (MW)', 'South Central Actual Load (MW)',
       'West Actual Load (MW)'],
      dtype='object')

In [10]:
file5= r'/Users/caoguangjing/Desktop/catalan.ai/data/ercot_lmp_da_hr_hubs_2024.csv'
lmp_da_hr_hubs_2024 = pd.read_csv(file5, skiprows=3)
lmp_da_hr_hubs_2024.head()

,UTC Timestamp (Interval Ending),Local Timestamp Central Time (Interval Beginning),Local Timestamp Central Time (Interval Ending),Local Date,Hour Number,Bus average LMP,Houston LMP,Hub average LMP,North LMP,Panhandle LMP,South LMP,West LMP
0,2024-01-01 07:00:00,2024-01-01 00:00:00,2024-01-01 01:00:00,2024-01-01,1,16.28,15.84,16.62,16.31,16.97,14.55,19.79
1,2024-01-01 08:00:00,2024-01-01 01:00:00,2024-01-01 02:00:00,2024-01-01,2,17.25,16.84,17.69,17.05,17.49,15.96,20.90
2,2024-01-01 09:00:00,2024-01-01 02:00:00,2024-01-01 03:00:00,2024-01-01,3,17.24,16.78,17.81,16.79,17.31,16.31,21.34
3,2024-01-01 10:00:00,2024-01-01 03:00:00,2024-01-01 04:00:00,2024-01-01,4,17.85,17.39,18.57,17.10,17.50,17.45,22.32
4,2024-01-01 11:00:00,2024-01-01 04:00:00,2024-01-01 05:00:00,2024-01-01,5,19.40,19.01,20.03,18.87,19.48,18.54,23.68

In [11]:
lmp_da_hr_hubs_2024.columns

Index(['UTC Timestamp (Interval Ending)',
       'Local Timestamp Central Time (Interval Beginning)',
       'Local Timestamp Central Time (Interval Ending)', 'Local Date',
       'Hour Number', 'Bus average LMP', 'Houston LMP', 'Hub average LMP',
       'North LMP', 'Panhandle LMP', 'South LMP', 'West LMP'],
      dtype='object')

In [12]:
file6= r'/Users/caoguangjing/Desktop/catalan.ai/data/ercot_load_for_hr_2024.csv'
ercot_load_for_hr_2024 = pd.read_csv(file6, skiprows=3)
ercot_load_for_hr_2024.head()

,UTC Timestamp (Interval Ending),Local Timestamp Central Time (Interval Beginning),Local Timestamp Central Time (Interval Ending),Local Date,Hour Number,SystemTotal Forecast Load (MW),Houston Forecast Load (MW),North Forecast Load (MW),South Forecast Load (MW),West Forecast Load (MW)
0,2024-01-01 07:00:00,2024-01-01 00:00:00,2024-01-01 01:00:00,2024-01-01,1,41377.666016,9410.839306,14503.732500,10297.206555,7165.887655
1,2024-01-01 08:00:00,2024-01-01 01:00:00,2024-01-01 02:00:00,2024-01-01,2,40879.754883,9203.292763,14578.437110,10063.078107,7034.946903
2,2024-01-01 09:00:00,2024-01-01 02:00:00,2024-01-01 03:00:00,2024-01-01,3,40443.660156,8969.837671,14768.408459,9745.001380,6960.412647
3,2024-01-01 10:00:00,2024-01-01 03:00:00,2024-01-01 04:00:00,2024-01-01,4,40379.498535,8900.567030,14879.662196,9620.046096,6979.223213
4,2024-01-01 11:00:00,2024-01-01 04:00:00,2024-01-01 05:00:00,2024-01-01,5,40766.053589,8924.569180,15127.530751,9660.158098,7053.795560

In [13]:
ercot_load_for_hr_2024.columns

Index(['UTC Timestamp (Interval Ending)',
       'Local Timestamp Central Time (Interval Beginning)',
       'Local Timestamp Central Time (Interval Ending)', 'Local Date',
       'Hour Number', 'SystemTotal Forecast Load (MW)',
       'Houston Forecast Load (MW)', 'North Forecast Load (MW)',
       'South Forecast Load (MW)', 'West Forecast Load (MW)'],
      dtype='object')

In [14]:
file7= r'/Users/caoguangjing/Desktop/catalan.ai/data/ercot_int_all_hr_2024.csv'
ercot_int_all_hr_2024 = pd.read_csv(file7, skiprows=3)
ercot_int_all_hr_2024.head()

,UTC Timestamp (Interval Ending),Local Timestamp Central Time (Interval Beginning),Local Timestamp Central Time (Interval Ending),Local Date,Hour Number,"Comision Federal de Electricidad, Laredo Net Export (MW)","Comision Federal de Electricidad, Railroad Net Export (MW)","Southwest Power Pool, East Net Export (MW)","Southwest Power Pool, North Net Export (MW)"
0,2024-01-01 06:09:53,2024-01-01 00:09:53,2024-01-01 00:09:53,2024-01-01,2,20.299999,-0.1,1.000489,0.0
1,2024-01-01 07:09:53,2024-01-01 01:09:53,2024-01-01 01:09:53,2024-01-01,3,-0.500000,-0.1,103.050369,0.0
2,2024-01-01 08:09:53,2024-01-01 02:09:53,2024-01-01 02:09:53,2024-01-01,4,-0.500000,-0.1,2.000978,0.0
3,2024-01-01 09:09:53,2024-01-01 03:09:53,2024-01-01 03:09:53,2024-01-01,5,-0.500000,-0.1,1.000489,0.0
4,2024-01-01 10:09:53,2024-01-01 04:09:53,2024-01-01 04:09:53,2024-01-01,6,-0.500000,-0.1,3.001467,0.0

In [15]:
ercot_int_all_hr_2024.columns

Index(['UTC Timestamp (Interval Ending)',
       'Local Timestamp Central Time (Interval Beginning)',
       'Local Timestamp Central Time (Interval Ending)', 'Local Date',
       'Hour Number',
       'Comision Federal de Electricidad, Laredo Net Export (MW)',
       'Comision Federal de Electricidad, Railroad Net Export (MW)',
       'Southwest Power Pool, East Net Export (MW)',
       'Southwest Power Pool, North Net Export (MW)'],
      dtype='object')

In [16]:
file8= r'/Users/caoguangjing/Desktop/catalan.ai/data/ercot_load-temp_hr_2024.csv'
load_temp_hr_2024 = pd.read_csv(file8, skiprows=3)
load_temp_hr_2024.head()

,UTC Timestamp (Interval Ending),Local Timestamp Central Time (Interval Beginning),Local Timestamp Central Time (Interval Ending),Local Date,Hour Number,TOTAL Actual Load (MW),SystemTotal Forecast Load (MW),Coast Actual Load (MW),East Actual Load (MW),Far West Actual Load (MW),...,Southern Actual Load (MW),West Actual Load (MW),Houston Forecast Load (MW),North Forecast Load (MW),South Forecast Load (MW),West Forecast Load (MW),Dallas / Fort Worth Temperature (Fahrenheit),Dallas / Fort Worth Temperature Observation Time (Central),Houston International Airport Temperature (Fahrenheit),Houston International Airport Temperature Observation Time (Central)
0,2024-01-01 07:00:00,2024-01-01 00:00:00,2024-01-01 01:00:00,2024-01-01,1,41367.30,41377.666016,10228.50,1560.09,6377.13,...,2939.14,1129.61,9410.839306,14503.732500,10297.206555,7165.887655,37.9,2024-01-01 00:53:00,57.0,2024-01-01 00:53:00
1,2024-01-01 08:00:00,2024-01-01 01:00:00,2024-01-01 02:00:00,2024-01-01,2,41630.87,40879.754883,10109.71,1651.06,6477.34,...,2904.21,1151.45,9203.292763,14578.437110,10063.078107,7034.946903,37.0,2024-01-01 01:53:00,57.0,2024-01-01 01:53:00
2,2024-01-01 09:00:00,2024-01-01 02:00:00,2024-01-01 03:00:00,2024-01-01,3,41563.17,40443.660156,9966.45,1607.69,6417.21,...,2845.38,1150.91,8969.837671,14768.408459,9745.001380,6960.412647,36.0,2024-01-01 02:53:00,57.0,2024-01-01 02:53:00
3,2024-01-01 10:00:00,2024-01-01 03:00:00,2024-01-01 04:00:00,2024-01-01,4,41539.61,40379.498535,9859.82,1631.72,6487.37,...,2761.70,1099.27,8900.567030,14879.662196,9620.046096,6979.223213,35.1,2024-01-01 03:53:00,55.9,2024-01-01 03:53:00
4,2024-01-01 11:00:00,2024-01-01 04:00:00,2024-01-01 05:00:00,2024-01-01,5,42199.84,40766.053589,9866.17,1714.81,6508.36,...,2742.70,1094.15,8924.569180,15127.530751,9660.158098,7053.795560,34.0,2024-01-01 04:53:00,55.9,2024-01-01 04:53:00

In [17]:
load_temp_hr_2024.columns

Index(['UTC Timestamp (Interval Ending)',
       'Local Timestamp Central Time (Interval Beginning)',
       'Local Timestamp Central Time (Interval Ending)', 'Local Date',
       'Hour Number', 'TOTAL Actual Load (MW)',
       'SystemTotal Forecast Load (MW)', 'Coast Actual Load (MW)',
       'East Actual Load (MW)', 'Far West Actual Load (MW)',
       'North Actual Load (MW)', 'North Central Actual Load (MW)',
       'South Central Actual Load (MW)', 'Southern Actual Load (MW)',
       'West Actual Load (MW)', 'Houston Forecast Load (MW)',
       'North Forecast Load (MW)', 'South Forecast Load (MW)',
       'West Forecast Load (MW)',
       'Dallas / Fort Worth Temperature (Fahrenheit)',
       'Dallas / Fort Worth Temperature Observation Time (Central)',
       'Houston International Airport Temperature (Fahrenheit)',
       'Houston International Airport Temperature Observation Time (Central)'],
      dtype='object')

In [18]:
file9= r'/Users/caoguangjing/Desktop/catalan.ai/data/ercot_gen_sun-wnd_hr_2024.csv'
ercot_gen_sun_wnd_hr_2024 = pd.read_csv(file9, skiprows=3)
ercot_gen_sun_wnd_hr_2024.head()

,UTC Timestamp (Interval Ending),Local Timestamp Central Time (Interval Beginning),Local Timestamp Central Time (Interval Ending),Local Date,Hour Number,ERCOT Total Solar Generation (MW),ERCOT Total Wind Generation (MW),Coastal Wind Generation (MW),North Wind Generation (MW),Panhandle Wind Generation (MW),South Wind Generation (MW),West Wind Generation (MW)
0,2024-01-01 07:00:00,2024-01-01 00:00:00,2024-01-01 01:00:00,2024-01-01,1,0.04,14824.56,2082.77,1893.25,569.19,1243.49,9035.86
1,2024-01-01 08:00:00,2024-01-01 01:00:00,2024-01-01 02:00:00,2024-01-01,2,0.03,13891.29,1862.55,1932.19,394.91,1006.17,8695.47
2,2024-01-01 09:00:00,2024-01-01 02:00:00,2024-01-01 03:00:00,2024-01-01,3,0.02,12971.48,1490.02,1994.26,322.76,712.60,8451.84
3,2024-01-01 10:00:00,2024-01-01 03:00:00,2024-01-01 04:00:00,2024-01-01,4,0.03,11973.36,1119.97,1868.91,209.21,598.80,8176.47
4,2024-01-01 11:00:00,2024-01-01 04:00:00,2024-01-01 05:00:00,2024-01-01,5,0.04,10796.88,995.83,1707.96,260.94,487.84,7344.31

In [19]:
ercot_gen_sun_wnd_hr_2024.columns

Index(['UTC Timestamp (Interval Ending)',
       'Local Timestamp Central Time (Interval Beginning)',
       'Local Timestamp Central Time (Interval Ending)', 'Local Date',
       'Hour Number', 'ERCOT Total Solar Generation (MW)',
       'ERCOT Total Wind Generation (MW)', 'Coastal Wind Generation (MW)',
       'North Wind Generation (MW)', 'Panhandle Wind Generation (MW)',
       'South Wind Generation (MW)', 'West Wind Generation (MW)'],
      dtype='object')

In [20]:
file10= r'/Users/caoguangjing/Desktop/catalan.ai/data/ercot_temp_hr_2024.csv'
ercot_temp_hr_2024 = pd.read_csv(file10, skiprows=3)
ercot_temp_hr_2024.head()

,Dallas / Fort Worth Temperature (Fahrenheit),Dallas / Fort Worth Temperature Observation Time (Central),Houston International Airport Temperature (Fahrenheit),Houston International Airport Temperature Observation Time (Central),UTC Timestamp (Interval Ending),Local Timestamp Central Time (Interval Beginning),Local Timestamp Central Time (Interval Ending),Local Date,Hour Number
0,37.9,2024-01-01 00:53:00,57.0,2024-01-01 00:53:00,2024-01-01 07:00:00,2024-01-01 00:00:00,2024-01-01 01:00:00,2024-01-01,1
1,37.0,2024-01-01 01:53:00,57.0,2024-01-01 01:53:00,2024-01-01 08:00:00,2024-01-01 01:00:00,2024-01-01 02:00:00,2024-01-01,2
2,36.0,2024-01-01 02:53:00,57.0,2024-01-01 02:53:00,2024-01-01 09:00:00,2024-01-01 02:00:00,2024-01-01 03:00:00,2024-01-01,3
3,35.1,2024-01-01 03:53:00,55.9,2024-01-01 03:53:00,2024-01-01 10:00:00,2024-01-01 03:00:00,2024-01-01 04:00:00,2024-01-01,4
4,34.0,2024-01-01 04:53:00,55.9,2024-01-01 04:53:00,2024-01-01 11:00:00,2024-01-01 04:00:00,2024-01-01 05:00:00,2024-01-01,5

In [21]:
ercot_temp_hr_2024.columns

Index(['Dallas / Fort Worth Temperature (Fahrenheit)',
       'Dallas / Fort Worth Temperature Observation Time (Central)',
       'Houston International Airport Temperature (Fahrenheit)',
       'Houston International Airport Temperature Observation Time (Central)',
       'UTC Timestamp (Interval Ending)',
       'Local Timestamp Central Time (Interval Beginning)',
       'Local Timestamp Central Time (Interval Ending)', 'Local Date',
       'Hour Number'],
      dtype='object')

In [22]:
file= r'/Users/caoguangjing/Desktop/catalan.ai/data/ercot_load_act_hr_2023.csv'
df = pd.read_csv(file, skiprows=3)
df.head()

,UTC Timestamp (Interval Ending),Local Timestamp Central Time (Interval Beginning),Local Timestamp Central Time (Interval Ending),Local Date,Hour Number,TOTAL Actual Load (MW),Coast Actual Load (MW),East Actual Load (MW),Far West Actual Load (MW),North Actual Load (MW),North Central Actual Load (MW),Southern Actual Load (MW),South Central Actual Load (MW),West Actual Load (MW)
0,2023-01-01 07:00:00,2023-01-01 00:00:00,2023-01-01 01:00:00,2023-01-01,1,35845.13,8599.43,1247.62,5287.70,762.30,10114.29,2875.20,5846.99,1111.60
1,2023-01-01 08:00:00,2023-01-01 01:00:00,2023-01-01 02:00:00,2023-01-01,2,35263.44,8466.87,1222.11,5246.51,744.58,9929.96,2796.42,5747.88,1109.11
2,2023-01-01 09:00:00,2023-01-01 02:00:00,2023-01-01 03:00:00,2023-01-01,3,34613.53,8286.36,1202.47,5245.36,737.91,9719.65,2724.95,5603.94,1092.88
3,2023-01-01 10:00:00,2023-01-01 03:00:00,2023-01-01 04:00:00,2023-01-01,4,34236.02,8138.62,1204.02,5265.49,753.20,9571.90,2691.34,5536.30,1075.16
4,2023-01-01 11:00:00,2023-01-01 04:00:00,2023-01-01 05:00:00,2023-01-01,5,34088.96,8057.78,1214.01,5251.73,766.62,9581.12,2588.30,5535.74,1093.66

In [23]:
df.shape

(7600, 14)

In [24]:
Y = df['TOTAL Actual Load (MW)']